/* Buttons for Tabs */
.modal-cart__order,
div .tabs__container .tabs__button {
  background-color: var(--button-black-color);
  font-size: 0.7rem;
  font-weight: 700;
  color: var(--light-text-color);
  text-transform: uppercase;
  padding: 15px 25px;
  transition: 0.5s;
}
.modal-cart__order:hover,
div .tabs__container .tabs__button:hover {
  background-color: var(--button-blue-color);
  box-shadow: 2px 7px 3px var(--button-black-color);
  transition-duration: 0.7s, 0.3s;
  transition-delay: 0.1s 0;
}
.modal-cart__order:active,
div .tabs__container .tabs__button:active:hover {
  background-color: var(--button-blue-color);
  box-shadow: 2px 3px 2px var(--button-black-color);
  transition-duration: 0.3s;
}

/* Buttons for special offers */

div .offers-cotainer .offer__button {
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 0.95rem;
  letter-spacing: 1.001px;
  text-decoration: none;
  text-transform: uppercase;
}
div .offers-cotainer .offer__button:after {
  content: " ";
  display: inline-block;
  width: 24px;
  margin: 0 0 3px 10px;
}
div .offers-cotainer .offer__button:hover:after {
  transform: rotate(90deg);
  transition: 1s;
}
div .offers-cotainer .offer__button:active:after {
  transform: rotate(360deg);
  transition: 0.5s;
}

div .offers-cotainer .offer__button_black {
  color: var(--default-color);
}
div .offers-cotainer .offer__button_black:after {
  /* content: " ";   */
  border: 1.5px solid var(--button-blue-color);
  background: var(--button-blue-color);
}

div .offers-cotainer .offer__button_white {
  color: var(--light-text-color);
}
div .offers-cotainer .offer__button_white:after {
  border: 1.5px solid var(--button-colorfull-color);
  background: var(--button-colorfull-color);
}
